@model RecipeApp.Core.Models.User.ChangePasswordModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Parola Değiştir";
}

<form class="change-password-form" method="POST">

    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label asp-for="NewPasswordConfirm" class="form-label"></label>
        <input asp-for="NewPasswordConfirm" class="form-control" disabled>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>