@model RecipeApp.Core.Models.Recipe.EditRecipeModel
@using RecipeApp.Service.Contracts
@inject ICategoryService _categoryService

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Tarif Güncelle";

    var categories = _categoryService.GetAll();
}

<h4 class="font-weight-bold py-3 mb-4">Tarif Güncelle</h4>

<form class="edit-recipe-form" method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="form-row">
        <div class="col-md-3 col-6 form-group">
            <label asp-for="Difficulty" class="form-label"></label>
            <input asp-for="Difficulty" class="form-control">
        </div>
        <div class="col-md-3 col-6 form-group">
            <label asp-for="Time" class="form-label"></label>
            <input asp-for="Time" class="form-control">
        </div>
        <div class="col-md-3 col-6 form-group">
            <label asp-for="Servings" class="form-label"></label>
            <input asp-for="Servings" class="form-control">
        </div>
        <div class="col-md-3 col-6 form-group">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-for="CategoryId" class="form-control">
                @foreach (var category in categories.Data)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Ingredients" class="form-label"></label>
        <textarea rows="4" class="form-control" asp-for="Ingredients"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Directions" class="form-label"></label>
        <textarea rows="4" class="form-control" asp-for="Directions"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="OnHomepage" class="form-label"></label>
        <input asp-for="OnHomepage" class="ml-2">
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="form-label"></label>
        <input asp-for="ImageFile" class="form-control">
    </div>

    @if (!string.IsNullOrEmpty(Model.ImageName))
    {
        <div class="row mb-2 img-preview-container d-block">
            <div class="col-12">
                <img class="img-preview" src="/image/recipe/@Model.ImageName">
            </div>
        </div>
    }
    else
    {
        <div class="row mb-2 img-preview-container d-none">
            <div class="col-12">
                <img class="img-preview">
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-controller="recipe" asp-action="index" class="ml-2">Listeye Dön</a>
</form>